 
.product-div {
    width: 300px;
    border: 1px solid black;
    padding : 10px;
    float: left;
}
 
.product-desc {
}
 
.product-price {
    font-weight: bold;
}
 
.product-name {
    font-weight: bold;
}
 
.color-image {
    width: 100px;
    height: 100px;
}
 