#item{
  height: 155px;
  width: 200px;
  border: 2px solid black;
}

#item #title{
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#item #color{
  background-color: blue;
  height: 100px;
  width: 100px;
  float: left;
}
#item p{
  margin: 0px;
  margin-left: 5px;
  float: right;
  height: 100px;
  width: 95px;
}

#item button{
  float:right;
}
